# Postgresql
DB_USER=<username>
DB_PASSWORD=<password>
DB_NAME=<name>
DB_PORT=<port>

# Go Server
FILEPATH_ROOT=./public # Path to all public facing files
PORT=8080              # Public facing port

# Development
PLATFORM=live # 'dev' if in Development

# JWT
JWT_SECRET=<key>
